<!DOCTYPE hibernate-configuration SYSTEM "file:///home/ttpl-rt-209/eclipse-workspace/ProjectWithHibernate/src/main/resources/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/myHiber</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        
        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        
        <property name="foramt_sql">true</property>
        
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        
        <mapping class="com.bhavesh.Student"/>
        <mapping class="com.bhavesh.Address"/>
        <mapping class="com.map.Question"/>
        <mapping class="com.map.Answer"/>
        <mapping class="com.map1.Employee"/>
        <mapping class="com.map1.Project"/>
        
        

    </session-factory>
</hibernate-configuration>
